body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

#loader {
  font-size: 20px;
  font-weight: bold;
  color: #007bff;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

td a {
  text-decoration: none;
}

#footer-info {
  margin-top: 20px;
  font-size: 14px;
  color: #666;
}

#ratingChart {
  width: 100%;
  height: 400px;
  margin-top: 30px;
}